@import "../../styles/global.scss";

.card {
}

.cardContainer {
  display: flex;
  gap: 1rem;
}

.titleCard {
  font-family: "Rock Salt", cursive;
  font-size: 2rem;
}

.description {
  font-size: 2rem;
}
.tools {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.toolsTitle {
  font-size: 2rem;
}
.icon {
  height: 32px;
}
.buttons {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-top: 2rem;
  flex-wrap: wrap;
}
.bntCard {
  padding: 1.5rem 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 50px 0 rgb(0, 0, 0, 25%);
  display: block;
  width: pxsToRem(247);
  font-weight: 600;
  text-align: center;
  font-size: pxsToRem(24);
}

.cardImg {
  object-fit: cover;
  height: 318px;
  border-radius: 14px;
}

@include onMdDown() {
  .cardContainer {
    flex-direction: column-reverse;
  }

  .bntCard {
    width: pxsToRem(165);
    padding: 12px;
    font-size: pxsToRem(16);
  }

  .titleCard {
    font-size: pxsToRem(24);
  }

  .description {
    font-size: pxsToRem(20);
  }

  .toolsTitle {
    font-size: pxsToRem(14);
  }

  .buttons {
    gap: 10px;
  }
}

@media screen and (max-width: 370px) {
  .bntCard {
    width: 100%;
  }
}
