.title {
 
  font-weight: 400;
  letter-spacing: 3px;
  margin-bottom: 2rem;
}
.description {
  font-size: 1.5rem;
  strong{
    color: #540C33;
  }

}
.aboutme {
  display: flex;
}
.profile {
  height: 519px;
   object-fit: cover;

}
