@import "../../styles/global.scss";

.main {
  padding-top: 1.5rem;
}
.title {
  font-size: 2.5rem;
  letter-spacing: 3px;
  font-weight: 400;
  color: var(--text-color);
}
.cards {
  display: flex;
  flex-direction: column;
  gap: pxsToRem(64);
}

@include onMdDown() {
  .cards {
    gap: pxsToRem(54);
  }
}
